<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Congenial Potato</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <section class="nav">
        <img src='/img/ant.png' class="logo"></img>
        <h1 class="title">
        Exterminator
        </h1>
        {{#if loggedIn}}
        <h2><a class='open-button nav-item'>Create Post</a></h2>
        <h2> <a class="nav-item">My Bugs</a></h2>
        <h2> <a class="nav-item">Boards</a></h2>
        <h2><form href="/api/user/logout" class="nav-item" id="logout">Log Out</form></h2>
        {{else}}
        <h2><a href="/login" class="nav-item">Log In</a></h2>
        {{/if}}
  </section>
  {{{body}}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
