  <div class="post-container">
    {{#each bugs as |bug| }}
    <section class="main-post">
      <div class="post-title">
        <h4 class="post-text title-text">
          {{bug.post.title}}
        </h4>
      </div>
      <div class="post-body">
        <p class="post-text">
          {{bug.post.post_body}}
      </p>
      </div>
    </section>
  {{/each}}
  </div>
      <script src="../public/js/login.js"></script>