<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">Post Name:</label>
        <input class="post-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <button onclick="typeFunction()" class="dropbtn">Select</button>
        <div id="myDropdown" class="dropdown-content">
            <a>Bug</a>
            <a>Feature</a>
            <a>Inquiry</a>
        </div>
      </div>
      <div class="comment-box">
        <label for="comment">Summary:</label>
        <textarea for="summary" class="summary-input" id="summary" name="summary" rows="4" cols="50"></textarea>
      </div>
    </form>
  </div>

<script src="../public/js/profile.js"></script>